img {
    margin: auto;
    border: inset 10px gold;
    transition: all 0.3s ease;
}

img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px gold;
    transform: scale(1.05);
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    img {
        width: 400px;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    img {
        width: 300px;
        margin-top: 10rem;
    }
}