.MainContent {
    display: flex;
    position: relative;
    top: 15vh;
    height: 50%;
    /* text-align: center; */
    /* border: solid 5px blue; */
}

@media screen and (max-width: 299px) {
    .MainContent {
        display: none;
    }
}