.MainContent {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20% 5% 10% 5%;
    border: solid 5px blue;
}

@media screen and (max-width: 299px) {
    .MainContent {
        display: none;
    }
}