.MainContent {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 10% 5% 10% 5%;
}

@media screen and (max-width: 299px) {
    .MainContent {
        display: none;
    }
}