.NavBar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}


@media screen and (max-width: 900px) {
    .NavBar#horizontal {
        display: none;
    }


    .NavBar#vertical {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin: auto;
        height: 100%;
    }

}