.NavBar {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    border: 5px solid green;
}


@media screen and (max-width: 900px) {
    .NavBar {
        display: none;
    }
}