.Card {
    border-radius: 50px;
    background: rgba(21, 61, 51, 0.8);
    padding: 4.5rem;
    /* height: fit-content; */
    color: white;
    font-size: xx-large;
    /* margin: auto 5% auto 5%; */
    margin: auto;
    width: 100%;
}